target
**/target
.idea
*.iml
Gemfile
Gemfile.lock
site/
_site/
*.swp
*~
*nb-configuration.xml
**/reports
reports/**
agent-output
**/resources/META-INF/native-image/**
!h2gis-dist/**/native-image/**
!h2gis-functions/**/native-image/**
**/sources/**

graal_isolate.h
graal_isolate_dynamic.h

.DS_Store
