<!-- For this to work, every page must have a category and a description -->
<table>
<thead>
<tr>
<th>Function</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{% assign pages = site.pages | sort: 'name' %}
{% assign version = page.url | replace_first:'/docs/','' | split:"/" | first %}
{% for p in pages %}
  {% assign pageversion = p.url | replace_first:'/docs/','' | split:"/" | first %}
    {% if pageversion == version %}
	    {% if p.title contains 'ST_' %}
		{% if p.category contains 'applications'%}
		    {% if p.description %}
		        {% capture described %}{{ described | plus:1 }}{% endcapture %}
		    {% endif %}
		    {% capture total %}{{ total | plus:1 }}{% endcapture %}
		    <tr>
		    <td><a href="{{ p.url }}"><code>{{ p.title }}</code></a></td>
		    <td>{{ p.description }}</td>
		    </tr>
		{% endif %}
	    {% endif %}
    {% endif %}
{% endfor %}
</tbody>
</table>

Documented functions: {{ described }}/{{ total }}.
