<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    <optgroup label="Getting started">
      {% include docs_option.html items='home quickstart spatial-indices spatial-jdbc function-aliases embedded-spatial-db functions' %}
    </optgroup>
    <optgroup label="DRIVERS">
      {% include docs_option.html items='h2drivers/file_table h2drivers/DBF h2drivers/GeoJson h2drivers/GPX h2drivers/KML h2drivers/SHP' %}
    </optgroup>
    <optgroup label="Geometry 2D">
      {% include docs_option.html items='Geometry2D/affine-transformations Geometry2D/geometry-conversion Geometry2D/geometry-creation Geometry2D/edit-geometries Geometry2D/distance-functions Geometry2D/operators Geometry2D/predicates Geometry2D/process-geometries Geometry2D/projections Geometry2D/properties Geometry2D/trigonometry' %}
    </optgroup>
    <optgroup label="Geomery 3D">
      {% include docs_option.html items='Geometry3D/geometry-conversion Geometry3D/geometry-creation Geometry3D/edit-geometries Geometry3D/distance-functions Geometry3D/properties Geometry3D/topography Geometry3D/triangulation'%}
    </optgroup>
    <optgroup label="Raster">
      {% include docs_option.html items='' %}
    </optgroup>
    <optgroup label="Thematic functions">
      {% include docs_option.html items='h2network/graph-functions' %}
    </optgroup>
  </select>
</div>
