{% assign items = include.items %}

<ul>
{% for item in items %}
  {% assign menu_tuple = item | split: ',' %}
  {% assign page_location = menu_tuple[0] %}
  {% assign page_title = menu_tuple[1] | strip %}
  {% assign item_url = page_location | prepend:'/docs/dev/' | append:'/' %}

  {% if item_url == page.url or page_location == page.category %}
    {% assign c = "current" %}
  {% else %}
    {% assign c = "" %}
  {% endif %}


    {% if page_location == 'Functions' %}
      <li class="{{ c }}"><a href="{{ site.baseurl }}{{ item_url }}"><b>{{ page_title }}</b></a></li>
    {% else %}
      <li class="{{ c }}"><a href="{{ site.baseurl }}{{ item_url }}">{{ page_title }}</a></li>
    {% endif %}
{% endfor %}

</ul>
