<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    <optgroup label="Getting started">
      {% include docs_option.html items='home quickstart h2drivers/list spatial-indices spatial-jdbc function-aliases embedded-spatial-db functions' %}
    </optgroup>
    <optgroup label="Geometry 2D">
      {% include docs_option.html items='geom2D/affine-transformations geom2D/geometry-conversion geom2D/geometry-creation geom2D/edit-geometries geom2D/distance-functions geom2D/operators geom2D/predicates geom2D/process-geometries geom2D/projections geom2D/properties geom2D/trigonometry' %}
    </optgroup>
    <optgroup label="Geomery 3D">
      {% include docs_option.html items='geom3D/geometry-conversion geom3D/geometry-creation geom3D/edit-geometries geom3D/distance-functions geom3D/properties geom3D/topography geom3D/triangulation'%}
    </optgroup>
    <optgroup label="Raster">
      {% include docs_option.html items='' %}
    </optgroup>
    <optgroup label="Applications">
      {% include docs_option.html items='applications/h2network' %}
    </optgroup>
  </select>
</div>
