{% highlight mysql %}
SELECT ST_ExteriorRing('POLYGON((0 0, 10 0, 10 6, 0 6, 0 0),
                                (1 1, 2 1, 2 5, 1 5, 1 1),
                                (8 5, 8 4, 9 4, 9 5, 8 5))') ER,
       ST_InteriorRingN('POLYGON((0 0, 10 0, 10 6, 0 6, 0 0),
                                (1 1, 2 1, 2 5, 1 5, 1 1),
                                (8 5, 8 4, 9 4, 9 5, 8 5))', 2) IRN;

-- Answer:
-- |             ER              |            IRN               |
-- |-----------------------------|------------------------------|
-- | LINEARRING(0 0, 10 0, 10 6, |   LINEARRING(8 5, 8 4, 9 4,  |
-- |            0 6, 0 0)        |              9 5, 8 5)       |
{% endhighlight %}

<img class="displayed" src="../ST_ExteriorRing_3.png"/>
