<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>By <a href="http://www.orbisgis.org/about/the-team/" target="_blank">Atelier SIG</a>, <a href="http://www.irstv.fr/en/" target="_blank">IRSTV</a> <a href="http://www.cnrs.fr/index.php" target="_blank">CNRS</a> FR 2488.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com" target="_blank">
          <img src="{{ site.baseurl }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
