<header>	
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a href="{{ site.url }}/">
          <span>H2GIS</span>
          <img src="{{ site.url }}/img/logo_h2gis.png" width="249" height="96" alt="">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
  <span id="forkongithub"><a href="https://github.com/orbisgis/h2gis">Fork me on GitHub</a></span>
</header>
