{% highlight mysql %}
CREATE TABLE input_table(geom GEOMETRY);
INSERT INTO input_table VALUES (
            'POLYGON((8 25, 28 22, 28 20, 15 11, 33 3, 56 30, 
                       46 33, 46 34, 47 44, 35 36, 45 33, 43 19,
                       29 21, 29 22, 35 26, 24 39, 8 25))');

SELECT ST_SimplifyPreserveTopology(geom, 20) SPT, 
       ST_Simplify(geom,20) S FROM input_table;

-- Answer:
-- |               SPT              |            S          |
-- |--------------------------------|-----------------------|
-- | POLYGON((8 25, 33 3, 56 30,    | POLYGON((8 25, 56 30, |
-- |          47 44, 43 19, 8 25))  |          33 3, 8 25)) |

{% endhighlight %}

<img class="displayed" src="../ST_SimplifyPreserveTopology_compare_1.png"/>

{% highlight mysql %}
CREATE TABLE input_table(geom GEOMETRY);
INSERT INTO input_table VALUES (
            'POLYGON((5 7, 2 5, 5 4, 13 4, 18 7, 16 11, 7 9, 
                      11 7, 5 7),
                     (13 8, 13 6, 14 6, 15 9, 13 8))');

SELECT ST_SimplifyPreserveTopology(geom, 3) SPT, 
       ST_Simplify(geom, 3) S FROM input_table;

-- Answer:
-- |              SPT            |              S             |
-- |-----------------------------|----------------------------|
-- | POLYGON((5 7, 2 5, 13 4,    | POLYGON((5 7, 16 11, 18 7, |
-- |          18 7,16 11, 5 7),  |          2 5, 5 7))        |
-- |         (13 8, 13 6,        |                            |
-- |          14 6, 15 9,13 8))  |                            |
{% endhighlight %}

<img class="displayed" src="../ST_SimplifyPreserveTopology_compare_2.png"/>

    

 