name: CI build

on:
  pull_request:
    branches: [ '**' ]
  workflow_run:
    workflows: ["CI release"]
    branches: [ '**' ]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    # Main build job used to
    name: Build
    runs-on: ubuntu-latest
    steps:
      # Checkout the source code of the project
      - name: Checkout
        uses: actions/checkout@v2

      # Setup the jdk using version 11 of Adoptium Temurin
      - name: Setup java 11 using Adoptium Temurin
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      # Setup postgis test DB
      - uses: SPalominos/PostGIS-Installer-Action@v1.0.1
        with:
          psql_version: '9.6'
          pgis_version: '2.5'
          docker_image: 'postgis/postgis'
          db_password: 'orbisgis'
          db_user: 'orbisgis'
          db_name: 'orbisgis_db'

      # Build the project using
      #   - clean : clean up the workspace
      #   - validate : perform different check like the dependency and plugin version update
      #   - compile : compile the source code.
      #   - test : Perform the tests.
      - name: Build
        run: mvn -ntp clean validate compile test javadoc:test-javadoc javadoc:jar

      # Check changelog update
      - name: Check changelog update
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            changelog:
              - 'docs/CHANGELOG.md'
            sources:
              - '**/pom.xml'
              - '**/README.md'
              - '**/src/**'
        if: github.event_name != 'workflow_dispatch'

      - if: steps.changes.outputs.changelog == 'false' && github.event_name != 'workflow_dispatch' && steps.changes.outputs.sources == 'true'
        run: |
          echo "Please update the Changelog.md file."
          exit 1
